@import './constants.scss';

body,
span,
div,
a {
  font-size: 13px;
}

.ht-35 {
  height: 35px;
}

.ht-500 {
  height: 500px;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.TubeoraApp {
  width: $appWidth;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  margin-top: 15px;

  a {
    color: $anchorLink;
  }

  a:active {
    color: #fff;
  }

  .component {
    margin-bottom: 24px;
  }

  .main-nav {
    .navigation {
      list-style-type: none;
      display: block;
      border: 1px solid $borderColor;
      padding: 7px 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;

      li {
        display: inline-block;
        padding-right: 8px;

        .active button {
          font-weight: 600;
          color: #000;
          background-color: $activeLink;
          border-color: $activeLink;
        }
      }
    }
  }

  .hoc-wrapper {
    .search-comp {
      .searchboxWrapper, .filterDropdownWrapper {
        display: inline-block;
        margin-right: 10px;
      }

      .searchboxWrapper {
        width: 500px;
        
        input[name=searchbox] {
          width: 100%;
          height: 100%;
          border: 1px solid $borderColor;
          padding: 2px 7px;
        }
      }

      .filterDropdownWrapper {
        .dropdown {
          height: 100%;
        }
        #filterDropdown {
          width: 115px;
          height: 100%;
          text-align: left;
          background-color: #2e2e74;
          color: #fff;
        }
        .dropdown-toggle::after{
          position: absolute;
          right: 8px;
          top: 44%;
        }
        .dropdown-menu {
          .dropdown-toggle {
            width: 185px;
            margin-left: 3px;
            text-align: left;
            font-size: 12px;
            padding-left: 12px;
            border: 0;

            &:hover, &:focus {
              background-color: #f5f7f7;
            }
          }
          .dropdown-menu {
            width: 200px;
            left: 3px;

            a {
              font-size: 12px;
            }
          }
        }
      }
    }

    .tabs-comp {
      .nav-tabs {
        border-bottom-color: $borderColor;
        .nav-link {
          background-color: #f5f7f7;
          font-weight: 500;
          border: 1px solid $borderColor;
          margin-right: 5px;
          color: #888;

          &:hover {
            color: #000;
          }
        }

        .nav-link.active {
          background-color: $activeLink;
          font-weight: 700;
          border: 1px solid $borderColor;
          border-bottom-color: transparent;
          color: #333;
        }
      }
      
      .layoutTogglerWrapper {
        position: relative;

        .layout-toggler {
          position: absolute;
          right: 0;
          top: 0;

          a.toggler-link {
            text-decoration: none;
            color: #888;
          }
        }
      }
    }

    .tab-content {
      .card {
        margin: 20px 20px 0 0;
        border-radius: 0;
        border: 1px solid $borderColor;
        height: 132px;

        &:hover {
          background-color: #fafafa;
          border-color: #CCC;
          cursor: pointer;
        }

        .card-body {
          padding: 10px 0 0 10px;
          
          .card-title{
            color: $titleColor;
          }
          .card-text {
            margin-bottom: 0.2rem;
            max-height: 200px;
            width: 200px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;

            &:nth-of-type(3) {
              width: 350px; 
            }

            &:first-of-type, &:nth-of-type(2), &:nth-of-type(4) {
               width: 100px; 
            }

            strong {
              display: block;
            }
          }
          &.accounts {
           .card-text {
              &:nth-of-type(1) {
                width: 550px;
                display: inline-block;
              }
            } 
          }

          // progress bar
          .progressbar {
            counter-reset: step;
            padding-left: 0;
            margin: 0 0 0 -12px;
          }
          .progressbar li {
            list-style: none;
            display: inline-block;
            width: 21%;
            position: relative;
            text-align: center;
            cursor: pointer;
            font-size: 11px;
          }
          .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            height: 20px;
            line-height : 20px;
            border: 1px solid green;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: green;
            position: relative;
            z-index: 2;
            color: #fff;
          }
          .progressbar li:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: green;
            top: 10px;
            left: -50%;
            z-index : 1;
          }
          .progressbar li:first-child:after {
            content: none;
          }
          .progressbar li.active {
            color: green;
            border-color: green; 

            ~ li:before {
              background-color: #FFF;
              border-color: #333; 
              color: #333;
            }
          }
          .progressbar li.active:before {
            border-color: #CCC;
            background-color: #cceb1e;
          } 
          .progressbar li.active + li:after {
            background-color: #333;
          }
        }
      }

      .grid-view {
        width: $appWidth/2;
        display: inline-block;
        height: 230px;
        overflow: hidden;
      
        .card-body {
          padding: 10px 10px 0 10px;

          .card-title{
            color: $titleColor;
          }
          .card-text {
            margin-bottom: 0.2rem;
            max-height: 100px;
            overflow: hidden;
            display: block;
            width: 100% !important;
            margin-right: 8px;
            
            strong {
              display: inline-block;
            }
          }

          .progressbar {
            margin: 10px 0 0 0;
          }

          &.account-card-body {
            .card-text {
              margin-bottom: 25px;
            }
          }

          &.accounts {
            .card-title {
              height: 20px;
              overflow: hidden;
            }
            .card-text {
               &:nth-of-type(1) {
                 width: 185px;
                 height: 30px;
                 overflow: hidden;
                 display: inline-block;
               }
             } 
           }
         }
      }
      .no-records-card {
        text-align: center;
        margin-top: 10px;
        padding: 15px;
      }
    }
    
    .pagination {
      padding: 20px 0;
    
      .paginationWrapper {
        .page-item {
          display: inline-block;
        }
      }
    }
  }
}